.card {
  margin: 0 1rem 1rem 0;
}

.missing_ingredients.card {
  margin: 1rem 0 0 0;
  padding: .5rem 1rem;
}

.missing_ingredients .close {
  position: absolute;
  right: 10px;
}

@media only screen and (min-width: 700px) {
  #ingredUl {
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
    column-count: 2;
    column-gap: 1.5em;
  }
}

@media only screen and (min-width: 980px) {
  #ingredUl {
    -moz-column-count: 3;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.5em;
    column-count: 3;
    column-gap: 1.5em;
  }
}

body {
  background-image: url('images/background.jpg');
  background-image: url('images/background-2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 8em
}

body>.container {
  background: aafaf7;
  background: white;
  padding-top: 3rem;
  border: 1px solid lightgray;
}

@media only screen and (min-width: 768px) {

  body>.container {
    padding: 3rem;
  }

  #book {
    position: relative;
  }

  #close_book {
    font-size: 3em;
    float: unset;
    position: absolute;
    left: 347px;
    top: -10px;
  }
}

.action_btns>* {
  width: 50%;
}

.ready {
  position: absolute;
  width: 30px;
  right: 0;
  margin: 10px;
  border-radius: 7%;
}

.missing_ul {
  background: white;
  border-radius: 4px;
}